#shark{
    left:100px; top:400px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Shark {
    0% {left:100px; top:400px;}
    20%{left:300px; top:400px;}
    40%{left:500px; top:300px;}
    50%{left:600px; top:50px;}
    60%{left:600px; top:100px;}
    80%{left:500px; top:200px;}
    100%{left:100px; top:400px; transform:scaleX(-1);}
}

#turtle{
    position: absolute;
    animation-name: Turtle;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Turtle {
    0% {left: 800px; top: 100px; transform: scaleX(1);}
    25%{left: 400px; top: 250px; transform: scaleX(1);}
    50%{left: 50px; top: 400px; transform: scaleX(1);}
    51%{left: 50px; top: 400px; transform: scaleX(-1);}
    75%{left: 450px; top: 550px; transform: scaleX(-1);}
    100%{left: 800px; top: 100px; transform: scaleX(-1);}
}
#goldfish{
    left:200px; top:200px;
    position: absolute;
    animation-name: Goldfish;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Goldfish {
    0% {left:200px; top:200px; transform: scaleX(1);}
    33%{left:900px; top:150px; transform: scaleX(1);}
    34%{left:900px; top:150px; transform: scaleX(-1);}
    67%{left:500px; top:500px; transform: scaleX(-1);}
    100%{left:200px; top:200px; transform: scaleX(-1);}
}
#diver1{
    left:500px; top:100px;
    position: absolute;
    animation-name: Diver1;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver1 {
    0% {left:500px; top:100px;}
    50% {left:500px; top:600px;}
    100% {left:500px; top:100px;} 
}
#diver2{
    left:300px; top:700px;
    position: absolute;
    animation-name: Diver2;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver2 {
    0% {left:300px; top:600px; transform: scaleX(1);}
    50% {left:1000px; top:100px; transform: scaleX(1);}
    51% {left:1000px; top:100px; transform: scaleX(-1);} 
    100% {left:300px; top:600px; transform: scaleX(-1);}
}
#diver3{
    left:700px; top:30px;
    position: absolute;
    animation-name: Diver3;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver3 {
    0% {left:700px; top:30px; transform: scaleX(1);}
    50% {left:100px; top:500px; transform: scaleX(1);}
    51% {left:100px; top:500px; transform: scaleX(-1);} 
    100% {left:700px; top:30px; transform: scaleX(-1);}
}
#faint{
    align-items: center;
    position: absolute;
    animation-name: Faint;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Faint {
    0% { top: 100%; } 
    100% { top: calc(0% - 120px); } 
}