body { 
            font-family: Bold, sans-serif;
        }
        .t {
            text-align: center;
        }
        h1 {
            line-height: 100px;
            border: 0px solid lemonchiffon;
            border-radius: 8px;
            display: inline-block;
            font-family: Bold, sans-serif;
            background-color: lemonchiffon;
            font-size: 70px;
        }
        table {
            margin-top: 115px;
            margin-left: 150px;
            width: 80%; 
            background: #fff;
            font-size:17px;
        }
        a:link {
            color: blue;
            text-decoration: none;
        }
        a:hover {
            color: red;
            text-decoration: none;
        }
        a:active {
            color: green;
            text-decoration: none;
        }
        div {
            text-align: center;
        }
        a {
            margin-left: 150px;
            font-size: 30px;
        }